@import './partials/detail';

body {
    margin: 0;
    padding: 0;
    color: $textMain;
    font-family: "Lato", sans-serif;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.fab-icon-add {
    position: fixed;
    background: $mainColor;
    bottom: 0;
    right: 0;
    margin: 1rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 5px #232323;
    transition: 0.5s ease all;
    &:hover {
        background: #bd0045;
    }
    &:active {
        right: -7px;
    }
}

.modal-box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-wrapper {
        background: #fff;
        color: #232323;
        position: relative;
        padding: 20px;
        width: 70%;
        height: 80%;
        @media screen and (max-width: 700px) {
            width: 85%;
            height: 85%;
        }
        .modal-content {
            margin-top: 20px;
            padding-right: 5px;
            display: flex;
            flex-direction: column;
            height: 100%;
            .modal-header {
                h2 {
                    font-size: 16px;
                    margin-top: 0;
                }
            }
            .modal-image {
                position: relative;
                align-self: center;
                border: 1px dashed #232323;
                width: 100%;
                min-height: 250px;
                max-height: 250px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    transition: transform 0.25s ease;
                    cursor: pointer;
                    display: block;
                    &:active {
                        transform: scale(2);
                    }
                }
                .empty-image-icon {
                    background: #eee;
                    padding: 3px;
                    border-radius: 10px;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    cursor: pointer;
                    &:hover {
                        color: $mainColor;
                    }
                }
            }
            .button-confirm {
                margin: 20px 0;
                display: flex;
                justify-content: flex-end;
                .add-receipt-form {
                    text-transform: uppercase;
                    font-family: "Lato", sans-serif;
                    border: 0;
                    background: #fff;
                    color: #232323;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                    outline: none;
                    transition: .5s linear all;
                    transition-delay: 0.2s;
                    &:hover {
                        background: $mainColor;
                        color: #eee;
                    }
                    &:active {
                        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
                        transition-delay: 0s;
                    }
                }
            }
        }
        .close-icon-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            z-index: 2;
        }
    }
}

nav {
    background: $mainColor;
    padding: 15px;
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        .site-name {
            font-family: "Luckiest Guy", cursive;
            font-size: 24px;
        }
        .menu-icon {
            cursor: pointer;
        }
    }
}

.search-bar {
    background: #232323;
    padding: 10px 15px;
    box-shadow: 0 1px 3px #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-group {
        display: flex;
        align-items: center;
        width: 85%;
        margin-left: 5px;
        .search-input {
            flex-grow: 2;
            margin-left: 10px;
            input.search {
                background: #232323;
                color: #eee;
                outline: 0;
                border: none;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                font-family: "Lato", sans-serif;
                &:focus~.bar:before {
                    width: 100%;
                }
            }
            .bar {
                position: relative;
                display: block;
                width: 100%;
                margin-top: 2px;
                &:before {
                    content: "";
                    height: 0.8px;
                    width: 0;
                    bottom: -2px;
                    position: absolute;
                    background: #ccc;
                    transition: 0.6s ease all;
                    left: 0%;
                }
            }
        }
    }
    .icons-right {
        display: flex;
        align-items: center;
        i {
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

.container {
    color: #232323;
    .receipt-list {
        span.no-receipts {
            text-align: center;
            display: block;
            color: #787878;
            font-size: 18px;
            margin-top: 15px;
        }
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    label {
        margin: 8px 0;
        font-size: 14px;
    }
    input {
        font-family: "Lato", sans-serif;
        background: inherit;
        border: 0;
        outline: none;
    }
    .bar {
        margin-top: 4px;
        height: 1px;
        background: #d3d3d3;
    }
}

.input-group-warranty {
    display: flex;
    flex-direction: column;
    margin: 10px;
    label {
        margin: 8px 0;
        font-size: 14px;
    }
    .warranty-range-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .warranty-range-group-item {
            display: flex;
            flex-direction: column;
            width: 45%;
            input {
                font-family: "Lato", sans-serif;
                background: inherit;
                border: 0;
                outline: none;
            }
            .bar {
                margin-top: 4px;
                height: 1px;
                background: #d3d3d3;
            }
            select {
                background: inherit;
                border: 0;
                outline: 0;
                font-family: "Lato", sans-serif;
                color: #232323;
                option {
                    border: 0;
                }
            }
        }
    }
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile+label {
    color: #232323;
    background-color: inherit;
}

.inputFile:focus+label,
.inputFile+label:hover {
    color: $mainColor;
}

.inputFile+label {
    cursor: pointer;
}

.inputFile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.scrollable {
    overflow-y: auto;
}

.container {
    margin: 0;
    padding: 0 5px;
    max-width: 100vw;
    .receipt-list {
        ul {
            margin: 0;
            padding: 0;
            li.receipt-item {
                padding: 10px;
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .image-title-wrapper {
                    display: flex;
                    flex-direction: row;
                    img {
                        width: 100px;
                        height: 70px;
                        object-fit: cover;
                    }
                    .title {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                        color: #232323;
                        h1 {
                            font-size: 16px;
                        }
                        .item-desc {
                            font-style: italic;
                            font-size: 12px;
                        }
                    }
                }
                .validity-date-bar {
                    background: #72bb53;
                    color: #eee;
                    padding: 8px 15px;
                    border-radius: 5px;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 700;
                }
            }
        }
    }
}
